#parse("template_ca/license.vm")

package ${pkgEntity};

#foreach( $import in $importList )
#if ($import eq "Date")
import java.sql.Date;
#elseif ($import eq "Timestamp")
import java.sql.Timestamp;
#end
#end

import id.co.lotteindo.entity.BaseCommonEntity;

/**
 * {프로그램 코드} : ${table.comments}.
 * <p>
 * CreatedDate : ${createDate}
 * <p>
 * UpdatedDate : 
 * <p>
 * UpdatedBy : 
 * <p>
 * Update Desc :
 * <p>
 * 
 * @author : ${author}
 *         <p>
 * @since : 1.0
 *        <p>
 */
 @SuppressWarnings("serial")
public class ${entityClassName} extends BaseCommonEntity {
#foreach( $column in $columnList )
    /**
     * 작성자:${author}
     * ${column.remarks}
     * ${column.desc}
     */
    private ${column.fieldType} ${column.fieldName};
#end

    // setter, getter
#foreach( $column in $columnList )
    /**
     * 작성자:${author}
     * 개요:
     */
    public void set${column.javaMethodName} ( ${column.fieldType} ${column.fieldName}) {
        this.${column.fieldName} = ${column.fieldName};
    }

    /**
     * 작성자:${author}
     * 개요:
     */
    public ${column.fieldType} get${column.javaMethodName}() {
        return this.${column.fieldName};
    }

#end
}