.namespace("${modulePkgName}.${bizName}.list");
${modulePkgName}.${bizName}.list = {

    initFormLoad : function(){

        console.log("binding init...");

    },

    bindButtonEvent : function(){
        console.log("binding events...");

        $(document).ready(function() {
//            lotteindo.common.Util.setupEnterSearch("inputForm", "btn_search");
        });

        $('#btn_init').click(function(event){
            $('#inputForm')[0].reset();
        });

        $('#btn_search').click(function(){
//            inputTblGrid.eventhandler.onSearch();
        });

        console.log("events bounded...");
    }

};