<%@ page language="java" contentType="text/html; charset=UTF-8" pageEncoding="UTF-8" %>
<%
#parse("template_ecm/license.vm")
#parse("template_ecm/header.vm")
 %>

<%@ include file="/WEB-INF/jsp/common/topAdmin.jsp" %>

<script type="text/javascript" src="<c:out value="${baseUrl}"/><spring:message code="common.javascript.ca.path" />"></script>
<!-- DataProvider -->
<script type="text/javascript" src="<c:out value="${jsUrl}"/>ca/${bizName}.${entityName}.provider.js"></script>
<!-- EventHandler -->
<script type="text/javascript" src="<c:out value="${jsUrl}"/>ca/${bizName}.list.js"></script>
<script type="text/javascript" src="<c:out value="${jsUrl}"/>ca/${bizName}.${entityName}.eventHandler.js"></script>
<script type="text/javascript">
jQuery(document).ready(function() {
    ${bizName}.list.bindButtonEvent();
    ${entityName}.eventhandler.bindButtonEvent();
});
</script>

<div id="contentWrap">
    <!-- s : page title -->
    <h2 class="page_tit">
        <a href="#" class="btn_favorite" onclick="fnSetFvAdd();return false;">
            <span class="blind">즐겨찾기 추가</span>
            <i class="fa fa-star"></i>
        </a>
     <spring:message code="ca.js.label.${bizNameL}.title"/>
    </h2>
    <!--// e : page title -->

    <!-- s : search -->
    <div class="search_area">
        <fieldset>
            <legend>search field</legend>
            <span class="search_unit"><label for="inp_txt1">코드명</label> <input type="text" name="" id="inp_txt1" /></span>
            <span class="search_unit">
                <label for="inp_sel1">사용여부</label> 
                <select id="iput_sel1">
                    <option value="">전체</option>
                    <option value="">사용</option>
                    <option value="">사용안함</option>
                </select>
            </span>
        </fieldset>
        <div class="mgt10 t_right"><a href="#" class="btn btn_type01">조회</a> <a href="#" class="btn btn_type01">초기화</a></div>
    </div>
    <!--// e : search -->

    <!-- s : content -->
    <div class="cont_section"><!-- contSection -->
        <div class="inner_area">
            <h3>코드그룹 목록 <span>(총 365건)</span></h3>
            <div class="util_area">
                <a href="#" class="btn btn_type02">추가</a> <a href="#" class="btn btn_type02">삭제</a> <a href="#" class="btn btn_type02">저장</a>
                <div class="util_right">
                    <a href="#" class="btn btn_icon"><span class="blind">엑셀다운</span><i class="fa fa-file-excel-o"></i></a>
                    <select class="inp_sel mgl10" title="목록갯수 선택">
                        <option value="">BO</option>
                        <option value="">PO</option>
                        <option value="">MO</option>
                    </select>
                    <span class="grid_move">
                        <a href="#"><span class="blind">이전 페이지로 이동</span><i class="fa fa-caret-left"></i></a>
                        <input type="text" name="" id="" class="inp_text t_center" style="width:50px" />
                        <a href="#"><span class="blind">다음 페이지로 이동</span><i class="fa fa-caret-right"></i></a>
                    </span>
                </div>
            </div>
            <div class="grid-area">
            <!-- 리얼 그리드 들어가는 영역 -->
            </div>
        </div>
    </div>
    <!--// e : content -->
</div>

<%@include file="/WEB-INF/jsp/common/bottom.jsp" %>