<%@ page language="java" contentType="text/html; charset=UTF-8" pageEncoding="UTF-8" %>

<%@ include file="/WEB-INF/jsp/common/topAdmin.jsp" %>

<script type="text/javascript" src="<c:out value="${baseUrl}"/><spring:message code="common.javascript.${moduleName}.path" />"></script>
<!-- DataProvider -->
<script type="text/javascript" src="<c:out value="${jsUrl}"/>${moduleName}/${providerFileName}"></script>
<!-- EventHandler -->
<script type="text/javascript" src="<c:out value="${jsUrl}"/>${moduleName}/${handlerFileName}"></script>

<script type="text/javascript">
jQuery(document).ready(function() {
    ${bizName}.list.bindButtonEvent();
    ${entityName}.eventhandler.bindButtonEvent();
});
</script>

<div id="contentWrap">
    <!-- s : page title -->
    <h2 class="page_tit">
        <a href="#" class="btn_favorite" onclick="common.admin.fnSetFvAdd();return false;">
            <span class="blind"><spring:message code="common.label.addToFavorites"/></span>
            <i class="fa fa-star"></i>
        </a>
     <spring:message code="${moduleName}.label.${bizNameL}.title"/>
    </h2>
    <!--// e : page title -->

    <!-- s : search -->
    <form name="inputForm" id="inputForm">
        <div class="search_area">
            <fieldset>
                <legend>search field</legend>
                <span class="search_unit">
                    <label for="inp_txt1">검색어(수정하세요)</label> <input type="text" name="" id="inp_txt1" />
                </span>
                <span class="search_unit">
                    <label for="inp_sel1"><spring:message code="common.label.useYn"/></label> 
                    <select id="iput_sel1">
                        <option value=""><spring:message code="common.selectbox.option.value.all"/></option>
                        <option value="Y"><spring:message code="common.selectbox.option.value.use"/></option>
                        <option value="N"><spring:message code="common.selectbox.option.value.notUse"/></option>
                    </select>
                </span>
            </fieldset>
            <div class="mgt10 t_right">
               <a class="btn btn_type01" id="btn_search" href="#"><spring:message code="common.button.search"/></a>
               <a class="btn btn_type01" id="btn_init" href="#"><spring:message code="common.button.init"/></a>
           </div>
        </div>
    </form>
    <!--// e : search -->

    <!-- s : content -->
    <div class="cont_section"><!-- contSection -->
        <div class="inner_area">
            <h3><spring:message code="${moduleName}.label.${bizName}.${entityName}.list"/> <span class="total" id="${entityName}Grid-totalcount"></span></h3>
            <div class="util_area">
                <a class="btn btn_type02" id="btn_${entityNameL}_add" href="#"><spring:message code="common.button.add"/></a>
                <a class="btn btn_type02" id="btn_${entityNameL}_del" href="#"><spring:message code="common.button.del"/></a>
                <a class="btn btn_type02" id="btn_${entityNameL}_save" href="#"><spring:message code="common.button.save"/></a>
                <a class="btn btn_type02" id="btn_${entityNameL}_init" href="#"><spring:message code="common.button.init"/></a>
                
                <div class="util_right">
                    <a href="#" class="btn btn_icon"><span class="blind"><spring:message code="common.button.excel"/></span><i class="fa fa-file-excel-o"></i></a>
                </div>
            </div>
            <div class="grid-area">
                <div id="${entityName}Grid" realGrid></div>
            </div>
        </div>
    </div>
    <!--// e : content -->
</div>

<%@include file="/WEB-INF/jsp/common/bottom.jsp" %>