#parse("template_ecm/license.vm")
package ${pkgMapperTrx};

import org.springframework.context.annotation.Lazy;
import org.springframework.stereotype.Repository;

import ${pkgEntity}.${entityClassName};

#parse("template_ecm/header.vm")
@Repository
@Lazy
public interface ${mapperTrxClassName} {
    /**
     * 작성자:${author}.
     * 개요:insert ${entityClassNameL}.
     */
	public void insert(${entityClassName} ${entityClassNameL});
	
    /**
     * 작성자:${author}.
     * 개요:update ${entityClassNameL}.
     */
	public void update(${entityClassName} ${entityClassNameL});

    /**
     * 작성자:${author}.
     * 개요:delete ${entityClassNameL}.
     */
	public void delete(${entityClassName} ${entityClassNameL});
}