#include("template_ca/charDollar.vm").namespace('${entityName}Grid.settings');
${entityName}Grid.settings = {

    fields :
    [
#foreach( $column in $columnList )
        {
            fieldName : "$column.mappedFullNameL", // fieldType = $column.fieldType
#if($column.fieldType == "String")
#elseif ($column.fieldType == "Integer" || $column.fieldType == "Float" || $column.fieldType == "Double" || $column.fieldType == "int" || $column.fieldType == "long")
            fieldType : "number"
#else
            fieldType : "datetime",
            datetimeFormat : "iso"
#end
        }#if( $velocityHasNext ),#end

#end
    ],


    columns :
    [
#foreach( $column in $columnList )
        {
            name : "$column.mappedFullNameL",
            fieldName : "$column.mappedFullNameL",
            header : {
                text : MESSAGES.format("${moduleName}.js.label.${entityName}.$column.fieldName")
            },
            width : 100,
            editable : false,
            styles : {
                textAlignment : "left"
            },
            visible : true
        }#if( $velocityHasNext ),#end
        
#end
    ], // columns

    props : {
        paging : true,
        defrow : 10,
        rows : [ 5, 100, 200, 500, 1000, 5000, 10000 ], 
        width : "100%", 
        height : "300px", 
        autoFitHeight : true,
        checkbox : true,
        crud : true,
        form : "inputForm",
        action : CONSTANTS.baseUrl + "${moduleName}/${bizName}/getList.do",
        saveAction : CONSTANTS.baseUrl + "${moduleName}/${bizName}/saveCUD.do"
    }
}