<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="${pkgMapperBiz}.${mapperBizClassName}">

    <sql id="listWhere">
		<where>
#foreach( $column in $columnList )
			<if test="${column.mappedFullNameL} != null">
				AND ${column.columnName} = #{${column.mappedFullNameL}}
			</if>
#if( $velocityHasNext )

#end
#end
		</where>
    </sql>
    
	<sql id="getListBase" >
        <![CDATA[
		/* getListBase */
		 ]]>
		SELECT
#foreach( $column in $columnList )
            ${column.columnName} AS ${column.mappedFullNameL}#if( $velocityHasNext ), #end

#end
		FROM ${table.tableName}

		<include refid="listWhere" />

	</sql>

    <select id="get" parameterType="${entityEVOClassNameL}" resultType="${entityEVOClassNameL}">
        <![CDATA[
		/* ${mapperBizClassNameL}.get */
		 ]]>
		SELECT
#foreach( $column in $columnList )
            ${column.columnName} AS ${column.mappedFullNameL}#if( $velocityHasNext ), #end

#end
		FROM ${table.tableName}
		WHERE ROWNUM = 1
#foreach( $primaryKey in ${table.primaryKeyList} )
			AND ${primaryKey.columnName} = #{${primaryKey.mappedFullNameL}}
#if( $velocityHasNext )

#end
#end
    </select>

    <select id="getList" parameterType="${entityEVOClassNameL}" resultType="${entityEVOClassNameL}">
        <![CDATA[
		/* ${mapperBizClassNameL}.getList */
		 ]]>
		<include refid="CaCommon.prePage" />
        <include refid="getListBase" />
        <include refid="CaCommon.postPage" />
    </select>

    <select id="getTotalCount" parameterType="${entityEVOClassNameL}" resultType="java.lang.Integer">
        <![CDATA[
		/* ${mapperBizClassNameL}.getTotalCount */
		 ]]>
        SELECT COUNT(*) FROM ${table.tableName}
	</select>

</mapper>
